<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.audioplayer_plugin">
    <meta-data
        android:name="org.godotengine.plugin.v1.audioplayer_plugin"
        android:value="com.example.audioplayer_plugin.audioplayer_plugin" />

</manifest>